work/*
!work/README.md
!work/src/
work/src/*
!work/src/README.md
!work/src/tools/
!work/src/tools/**
!work/src/pkvm-linux
!work/src/optee-pkvm/
work/src/optee-pkvm/*
!work/src/optee-pkvm/optee_os/
work/src/optee-pkvm/optee_os/*
!work/src/optee-pkvm/optee_os/core/
work/src/optee-pkvm/optee_os/core/*
!work/src/optee-pkvm/optee_os/core/arch/
work/src/optee-pkvm/optee_os/core/arch/*
!work/src/optee-pkvm/optee_os/core/arch/arm/
work/src/optee-pkvm/optee_os/core/arch/arm/*
!work/src/optee-pkvm/optee_os/core/arch/arm/kernel/
work/src/optee-pkvm/optee_os/core/arch/arm/kernel/*
!work/src/optee-pkvm/optee_os/core/arch/arm/kernel/thread_spmc.c
!work/src/optee-pkvm/optee_os/core/arch/arm/kernel/virtualization.c
!work/build/
work/build/*
!work/build/README.md
.omc/
.serena/
